
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.hero-container {
    position: relative;
}

.popup-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    padding: 100px;
    align-items: center;
    justify-content: center;
    background: rgba(18, 18, 18, 0.5);
}

.popup-content {
    display: flex;
    background: #444444;
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-model {
    width: 50%;
    height: 400px; /* Set height to ensure the model is visible */
}

.popup-info {
    width: 50%;
    padding-left: 20px;
}

.popup-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #ffffff;
}

.popup-text {
    margin-top: 10px;
    line-height: 1.6;
    color: #e0e0e0;
}

.one{
    margin: 20px;
    padding: 5px;
}

.popup-close {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.popup-close:hover {
    background-color: #0056b3;
}



body{
    font-family: 'Poppins', sans-serif;
    
}
nav{
    margin-top: 0;
    display: flex;  /* use for row type aliment */
    justify-content: space-between; /* |one      two      three| */
    align-items: center;           /* for center in line  | -- | */
    padding: 20px 10%;
    width: 80%;
}

nav ui{
    display: flex;
    list-style: none;
}

nav ui li{
    margin: 24px;
    cursor: pointer;
    font-weight: 600;
}

img{
    width: 85px;
}

.btn{
    background-color: red;
    border: none;
    color: white;
    font-weight: bold;
    height: 28px;
    width: 57px;
    cursor: pointer;
}

.btn1{
    background-color: red;
    border: none;
    color: white;
    cursor: pointer;
    height: 30px;
}

.btn2{
    border: 1px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
}

.btndiv{
    
    display: flex; 
    gap:20px;
}

.hero{
    display: flex;  /* use for row type aliment */
    justify-content: space-between; /* |one      two      three| */
    align-items: center;           /* for center in line  | -- | */
    padding: 0px 10%;
    width: 80%;
    height: 80vh;
}

.hero__container{
    width: 100%;
}

.hero__container h1{
    font-size: 80px;
    line-height : 70px;
}


.shoes{
    width: 50%;
}

canvas{
    height: 100vh !important;
    
}